.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.background-blue{
  background-color: hsl(220,   15%, 55%);
}

.white-part{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vh;
  background-color: white;
}
.break {
  flex-basis: 100%;
  height: 0;
}